<div class="jumbotron">
  <h1>About Us</h1>
  <p class="lead">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNdE-ni5OrbkLO05zuekgIqaAhJ6L3qmFCEdqXmNXDwwX4KcN0Ow" alt="I'm ninja"><br>
    Always be sure to feed your inner ninja.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Go Ninja Go Ninja Go!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>We are now in an entirely different Angular Web Application</h4>
  <p>
        We are ninja give us all your code!      
  </p>

  

  
</div>
